@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --primary-size: 2rem;
  --secondary-size: 1.4rem;
}

body {
  font-family: 'Calibri', sans-serif;
  margin: 3% 10%;
  background: url('./images/bg-01.png');
}

@media (max-width: 992px) {
  body {
    margin: 2% 8%;
  }
}
@media (max-width: 767px) {
  body {
    margin: 1% 6%;
  }
}
@media (max-width: 479px) {
  body {
    margin: 1% 3%;
  }
}

h1,
h2 {
  color: #333333;
}

.pics {
  display: inline-block;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;
}
.pic-1 {
  height: 10rem;
  cursor: pointer;
  display: block;
}
.pic-1:hover {
  transition: ease-in-out;
  transition: 1s;
  transform: scale(1.2);
}

article {
  padding: 1%;
}

.section {
  display: flex;
}

.block {
  background-color: #d6d7da;
  border-radius: 5px;
  margin: 0px 0px 5px 0px;
  font-size: 18px;
}
.block:hover {
  box-shadow: 2px 2px 2px #333333;
  border-radius: 5px;
  background-color: #f3f4f5;
}
